*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito,sans-serif;
}
body{
    background-color: #f0f0f0;
}
img{
    width: 30%;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}